{% extends "base.html" %}
{% block content %}
<div class="px-5 my-5 text-center" >
    <h2  style="margin-top: 100px;">Order list</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Order</th>
            <th>time</th>
            <th>note</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_list %}
        <tr id="order-{{ item.id }}" class="order-row">
            <td>{{ item.num_order }}</td>
            <td>{{ item.time_job }}</td>
            <td>{{ item.notes }}</td>
            <td class="px-2">
                <a class="btn btn-primary btn-sm"  href="#">Edit</a>
                <a class="btn btn-danger btn-sm"  href="#">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-primary btn-lg add_btn float-end" href="{% url 'orders_create' %}"><i class="bi bi-plus-lg"></i></a>



{% endblock %}